<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ChartControl.DefaultFormulas" value="MAIN#AreaBB#MA(50)#MA(200);VOLMA;RSI(14)#RSI(28);RawData(CLOSE);SlowSTO" />
    <add key="ChartControl.FavoriteFormulas" value="VOLMA;AreaRSI;CCI;OBV;ATR;FastSTO;SlowSTO;ROC;TRIX;WR;AD;CMF;PPO;StochRSI;ULT;BBWidth;PVO" />
    <add key="ChartControl.ShowTopLine" value="True" />
    <add key="ChartControl.Skin" value="GreenRed" />
    <add key="ChartControl.AreaCount" value="5" />
    <add key="ChartControl.ShowCursorLabel" value="True" />
    <add key="ChartControl.ColumnWidth" value="5" />
    <add key="ChartControl.OverlayFormulas" value="Extend.BB;NATIVE.MA(50);NATIVE.MA(200)" />
    <add key="ChartControl.ShowCrossCursor" value="True" />
    <add key="ChartControl.ShowStatistic" value="True" />
    <add key="ChartControl.ShowIndicatorValues" value="True" />
    <add key="ChartControl.ShowOverlayValues" value="True" />
    <add key="ChartControl.AdjustData" value="True" />
    <add key="tbUserName.Text" value="1" />
    <add key="tbPassword.Text" value="1" />
    <add key="ChartControl.AreaPercent" value="3;1;1;1;1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>